<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhf.shopping.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zhf.shopping.entity.User">
        <!--@mbg.generated-->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="UserOrderResultMap" type="com.zhf.shopping.entity.User">
        <collection ofType="com.zhf.shopping.entity.Orders" property="orders">
            <id column="order_id" jdbcType="INTEGER" property="orderId"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="number" jdbcType="VARCHAR" property="number"/>
            <result column="create_time" jdbcType="DATE" property="createTime"/>
        </collection>
    </resultMap>
    <resultMap extends="BaseResultMap" id="UserItemsResultMap" type="com.zhf.shopping.entity.User">
        <collection ofType="com.zhf.shopping.entity.Orders" property="orders">
            <id column="order_id" jdbcType="INTEGER" property="orderId"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="number" jdbcType="VARCHAR" property="number"/>
            <result column="create_time" jdbcType="DATE" property="createTime"/>
            <collection ofType="com.zhf.shopping.entity.OrderDetail" property="orderdetails">
                <id column="detail_id" property="detailId"/>
                <result column="item_id" property="itemId"/>
                <result column="item_num" property="itemNum"/>
                <result column="order_id" property="orderId"/>
                <association javaType="com.zhf.shopping.entity.Items" property="items">
                    <id column="item_id" jdbcType="INTEGER" property="itemId"/>
                    <result column="item_name" jdbcType="VARCHAR" property="itemName"/>
                    <result column="detail" jdbcType="VARCHAR" property="detail"/>
                    <result column="picture" jdbcType="VARCHAR" property="picture"/>
                    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
                </association>
            </collection>
        </collection>
    </resultMap>
    <select id="findItemsByUserId" resultMap="UserItemsResultMap">
        select t1.*,
               t2.username,
               t2.sex,
               t2.birthday,
               t3.detail_id,
               t3.item_id,
               t3.item_num,
               t4.item_name,
               t4.create_time,
               t4.detail,
               t4.picture
        from orders t1,
             user t2,
             order_detail t3,
             items t4
        where t1.user_id = t2.user_id
          and t1.order_id = t3.order_id
          and t3.item_id = t4.item_id
          and t2.user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="findOrdersByUserId" resultMap="UserOrderResultMap">
        select t1.*, t2.username, t2.sex, t2.birthday
        from orders t1,
             user t2
        where t1.user_id = t2.user_id
          and t2.user_id = #{userId,jdbcType=INTEGER}
    </select>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, username, sex, birthday, `password`, phone
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from user
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.zhf.shopping.entity.User">
        <!--@mbg.generated-->
        insert into user (user_id, username, sex,
        birthday, `password`, phone
        )
        values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
        #{birthday,jdbcType=TIMESTAMP}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.zhf.shopping.entity.User">
        <!--@mbg.generated-->
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="phone != null">
                phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhf.shopping.entity.User">
        <!--@mbg.generated-->
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhf.shopping.entity.User">
        <!--@mbg.generated-->
        update user
        set username = #{username,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=VARCHAR},
        birthday = #{birthday,jdbcType=TIMESTAMP},
        `password` = #{password,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=CHAR}
        where user_id = #{userId,jdbcType=INTEGER}
    </update>

</mapper>